body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
  width: 550px;
  margin: 20px auto;
}

.check-all-box {
  position: absolute;
  z-index: 10;

  height: 38px;
}

.add-todo .todo-text {
  z-index: 0;

  padding-left: 55px;
}

.close {
  display: none;
}

.todo-item:hover .close {
  display: block;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.todo-item {
  margin-bottom: 2px;
}

.todo-list-item {
  position: relative;
}

.todo-edit {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 510px;
  padding: 5px;
  box-sizing: border-box;

  line-height: 36px;
}
