body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
  width: 550px;
  margin: 20px auto;
}

ul {
  list-style: none;
}

.text-muted {
  margin-bottom: 0;
}

.close {
  display: none;
}

.todo-item:hover .close {
  display: block;
}

.strike {
  text-decoration: line-through;
  color: gray;
}

.todo-list-item {
  position: relative;
}

.todo-edit {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 510px;

  line-height: 43px;
}
